# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.exe

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Custom 
*.rar
*.zip
*.7z
*.pptx
*.ppt
*.doc
*.docx
*.pdf

# Visual Studio
*.suo
*.csproj.user
*.vbproj.user
*.csproj.webinfo
*.vbproj.webinfo
*.bin
*.debug
*.csproj
obj/
bin/
.idea/
*node_modules/